#site_header{
    background-color: #2c3e51;
    height: 90px;
    width: 100%;
}

#site_footer{
    background-color: #2c3e51;
    height: 100px;
    width: 100%;
}

.me_start{
    background-color: #1bbd9a;
    height: 590px;
    width: 100%;
}

.me_photo{
    height: 200px;
    width: 200px;
    background-color:orange;
}


