#site_header{
    background-color: #2c3e51;
    height: 90px;
    width: 100%;
}

#site_footer{
    background-color: #2c3e51;
    height: 100px;
    width: 100%;
}

.me_start{
    background-color: #1bbd9a;
    height: 590px;
    width: 100%;
}

.me_photo{
    height: 200px;
    width: 200px;
    background-color:orange;
}

.text{
    height: 50px;
    width: 50px;
    color: beige;
}

.logo{
    background-color: white;
    height: 50px;
    width: 200px;
}

.info{
    list-style: none;
}

li{
    background-color: rgb(255, 255, 255);
    height: 50px;
}

.text{
    background-color: white;
    height: 80px;
    width: 500px;
}

.portafolio{
    background-color:#fffefe ;
    height: 850px;
}

.port{
    background-color: #2c3e51;
    height: 100px;
    width: 100px;
}

.portfolio-card {
    background-color: #2c3e51;
    height: 200px;
    
}